
.sticky-content a {
  
    color: rgb(64, 57, 57);
    font-size: larger;
}
.sticky-content a:hover {
    color: rgb(71, 71, 115);
}
.welcome h2 {
    padding-left: 10vw;
    padding-right: 5vw;
  }
  
  
  .sticky-container {
    max-width: 250px;
    position: relative;
    margin: 0 0 5vh 10vw;
    pad: 0;
    top: 30vh;
    transform: rotate(-20deg);
  }
  
  .sticky-outer {
    display: flex;
    padding-top: 92.5925926%;
    position: relative;
  
    width: 100%;
  }
  
  .sticky {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  
  .sticky:before {
    box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.25);
    content: '';
    width: 90%;
    left: 5px;
    height: 83%;
    position: absolute;
    top: 30%;
  }
  

  .sticky-content {
    background: linear-gradient(180deg,
        rgba(187, 235, 255, 1) 0%,
        rgba(187, 235, 255, 1) 12%,
        rgba(170, 220, 241, 1) 75%,
        rgba(195, 229, 244, 1) 100%);
    width: 100%;
    height: 100%;
    padding: 20% 10%;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat', cursive;
    text-align: center;
    clip-path: url(#stickyClip);
  };