
.welcome {
  font-family: 'Caveat', cursive;
  margin: 15vh 0 0 15vw;
  position: absolute;
  right: 40vw;
}

.welcome h2 {
  padding-left: 5vw;
  font-size: 3rem;
}
.accent {
  font-size: 3.5rem;
  font-weight: bold;
}
