.statement {
  font-family: 'Caveat', cursive;
  margin-left: 45vw;
  font-size: 2.5rem;
  position: absolute;
  right: 20vw;
  top: 40vh;
}

.statement p {
  margin-bottom: 0;
}

.statement p:first-of-type {
  margin-left: 10vw;
}

.statement p:nth-of-type(2) {
  margin-left: 5vw;
}

.statement div {
  font-size: 2rem;
}

.statement a {
  text-decoration: none;
  color: rgb(110, 102, 102);

 
  font-weight: bold;
  font-size: 2.5rem;
}

.statement a:hover {
  color: rgb(147, 52, 52);
 
}

.small-accent {
  font-size: larger;
  font-weight: bold;
}

